.ResultCard {
    border: 1px solid darkgray;
    display: inline-block;
    flex-basis: 30%;
    max-height: 500px;
    border-radius: 5px;
}

.ResultCard .header {
    background-color: lightgray;
    padding: 5px 15px;
}

.ResultCard .beacons-data {
    padding: 5px 15px;
}